@page "/plants"

@inject IPlantRepository PlantRepository
@inject NavigationManager NavigationManager

<PageTitle>Usinas</PageTitle>
<div class="mb-5">
    <div class="d-flex justify-content-end fixed-bottom mb-4 me-3">
        <button class="btn  rounded-pill text-white btn-lg fw-bolder" style="background-color: #00754a;" @onclick="NewPlant">
            Nova Usina
        </button>
    </div>
    @foreach (var plant in _plants)
    {
        <div class="card mb-3 border border-white" style="background-color: #d4e9e2;border-radius: 15px;">
            <div class="card-body">
                <h6 class="card-title fw-bold">@($"{plant.Name} - {plant.Id}")</h6>
                <div class="row justify-content-start">
                    <button class="btn btn-outline-secondary col-3 btn-sm ms-2" type="button" @onclick="() => EditPlant(plant.Id)">Editar</button>
                    <button class="btn btn-outline-danger col-3 btn-sm ms-2" type="button" @onclick="() => EditPlant(plant.Id)">Excluir</button>
                </div>
            </div>
        </div>
    }
</div>


@code {
    private List<PlantModel> _plants = new();

    protected override async Task OnInitializedAsync()
    {
        _plants = await PlantRepository.GetAllAsync();
    }

    private void NewPlant()
    {
        NavigationManager.NavigateTo("/plant");
    }

    private void EditPlant(string plantId)
    {
        NavigationManager.NavigateTo($"/plant/{plantId}");
    }

}