@page "/new-visit"
@using FiscalLabApp.Features.Visits
@using Mapster
@inject IVisitService VisitService
@inject NavigationManager NavigationManager

<EditForm Model="@_basicInformationViewModel" OnValidSubmit="@CreateAsync">
    <DataAnnotationsValidator/>
    <div class="row">
        <div class="col">
            <PlantSelectInput PlantChanged="OnPlantChanged" CallbackRoute="/new-visit"/>
            <ValidationMessage For="() => _basicInformationViewModel.Plant"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <AssociationSelectInput AssociationChanged="OnAssociationChanged" CallbackRoute="/new-visit"/>
            <ValidationMessage For="() => _basicInformationViewModel.Association"/>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-floating mb-3">
                <InputDate class="form-control" id="createdAtDateInput" Type="InputDateType.Date" @bind-Value="_basicInformationViewModel.VisitDate"/>
                <label for="createdAtTimeInput">Data</label>
                <ValidationMessage For="() => _basicInformationViewModel.VisitDate"/>
            </div >

        </div>
        <div class="col">
            <div class="form-floating mb-3">
                <InputDate class="form-control" id="createdAtTimeInput" Type="InputDateType.Time" @bind-Value="_basicInformationViewModel.VisitTime"/>
                <label for="createdAtTimeInput">Hora</label>
                <ValidationMessage For="() => _basicInformationViewModel.VisitTime"/>
            </div >
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <button class="btn btn-outline-secondary mb-3" @onclick="OnCancel">Cancelar</button>
        <button type="submit" class="btn btn-outline-success mb-3 ms-3">Salvar</button>
    </div>
</EditForm>

@code {
    
    private readonly BasicInformationViewModel _basicInformationViewModel = new();
    
    private async Task CreateAsync()
    {
        var visit = new Visit
        {
            Id = Guid.NewGuid().ToString(),
            BasicInformation = _basicInformationViewModel.Adapt<BasicInformation>(),
            CreatedAt = DateTime.UtcNow
        };

        await VisitService.CreateAsync(visit);

        NavigationManager.NavigateTo("/visits");
    }

    private void OnCancel()
    {
        NavigationManager.NavigateTo("/visits");
    }

    private Task OnPlantChanged(Plant plant)
    {
        _basicInformationViewModel.Plant = plant;
        return Task.CompletedTask;
    }

    private Task OnAssociationChanged(Association association)
    {
        _basicInformationViewModel.Association = association;
        return Task.CompletedTask;
    }
}