<Virtualize Items="Visits">
    <ItemContent>
        <VisitCard OnVisitDeleted="@(OnVisitDeletedAsync)" Visit="@context"></VisitCard>
    </ItemContent>
</Virtualize>

<div class="d-flex justify-content-center">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item disabled">
                <span class="page-link">Anterior</span>
            </li>
            <li class="page-item">
                <a class="page-link link-success" href="#">Próxima</a>
            </li>
        </ul>
    </nav>
</div>

@code {
    [Parameter]
    public VisitViewModel[] Visits { get; set; } = [];
    [Parameter]
    public EventCallback OnVisitDeleted { get; set; }

    private async Task OnVisitDeletedAsync()
    {
        await OnVisitDeleted.InvokeAsync();
    }
}