@page "/"
@page "/visits"
@using FiscalLabApp.Services
@using Mapster


@inject IVisitService VisitService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject IToastService ToastService
@inject ApplicationContextAccessor ApplicationContextAccessor
@inject SelectedVisitEvent SelectedVisitEvent

<PageTitle>Visitas</PageTitle>
<div class="mb-5">
    <div class="d-flex justify-content-end fixed-bottom mb-4 me-3">
        <button class="btn rounded-pill btn-lg fw-bolder shadow" @onclick="NewVisit" style="background-color: #57504a; color: #ffffff;">
            Nova Visita
        </button>
    </div>
    @foreach (var visit in _visits)
    {
        <div class="card mb-3 rounded ps-2 pe-2 shadow"
             style="border-left: 0.750rem solid indianred;border-right: 0rem;border-top: 0rem;border-bottom: 0rem; background-color: #ffffff;">

            <div class="col card-body">
                <div class="row">
                    <div class="col text-truncate">
                        <div class="row">
                            <div class="col text-truncate fw-semibold text-body-tertiary" style="font-size: 0.875em;">
                                @($"{visit.BasicInformation.Plant?.Name} ({visit.BasicInformation.Plant?.Address.City} - {visit.BasicInformation.Plant?.Address.State})")
                                <span class="position-absolute end-0 translate-middle badge rounded-pill" style="background-color: indianred;">
                                    @($"{visit.GetMetadata().PendingItems}")
                                    <span class="visually-hidden">unread messages</span>
                                </span>
                            </div>

                            <div class="text-truncate fw-semibold text-muted" style="font-size: 0.750em;">@($"{visit.BasicInformation.Association?.Name} ({visit.BasicInformation.Association?.Address.City} - {visit.BasicInformation.Association?.Address.State})")</div>
                            <small class="text-muted fw-semibold" style="font-size: 0.700em;">@visit.CreatedAt.ToString("dd/MM/yyyy HH:mm:ss")</small>
                        </div>
                    </div>
                </div>

                <div class="mt-3 d-flex flex-row p-0">
                    <button class="btn card" type="button" @onclick="() => EditVisit(visit)">
                        <EditIcon/>
                    </button>
                    <button class="btn card ms-2" type="button" @onclick="() => DeleteVisitAsync(visit.Id)">
                        <DeleteIcon/>
                    </button>
                    <button class="btn card ms-2" type="button" @onclick="() => AddImage(visit.Id)">
                        <AddImageIcon/>
                    </button>

                    <button class="btn card ms-2" type="button" @onclick="() => GetPdf(visit.Id)">
                        <PdfIcon/>
                    </button>

                    <div class="form-switch position-absolute end-0 pe-2">
                        <InputCheckbox class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" @bind-Value="visit.IsFinished" @oninput="() => OnFinishedClicked(visit)"/>
                        <small class="form-check-label text-muted fw-semibold" for="flexSwitchCheckChecked"> Finalizado</small>
                    </div >
                </div>
            </div>

        </div>
    }
</div>


@code {
    private VisitViewModel[] _visits = [];
    
    protected override async Task OnInitializedAsync()
    {
        await JsRuntime.InvokeVoidAsync("registerNotificationHandler");
        var visits = await VisitService.GetAllAsync();
        _visits = visits.Adapt<VisitViewModel[]>();
    }

    private void NewVisit()
    {
        NavigationManager.NavigateTo("/new-visit");
    }

    private void EditVisit(VisitViewModel visit)
    {
        SelectedVisitEvent.NotifySelectedVisit(visit);
        SelectedVisitEvent.SelectedVisitModel = visit;
        NavigationManager.NavigateTo("/visits/main");
    }

    private async Task DeleteVisitAsync(string visitId)
    {
        var confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Remover visita ?");
        if (!confirmed) return;

        await VisitService.DeleteAsync(visitId);
        NavigationManager.Refresh(true);
    }

    private void AddImage(string visitId)
    {
        NavigationManager.NavigateTo($"/visits/{visitId}/images");
    }

    private async Task OnFinishedClicked(VisitViewModel visitViewModel)
    {
        var visit = await VisitService.GetByIdAsync(visitViewModel.Id);
        visit.IsFinished = visitViewModel.IsFinished;
        visit.FinishedAt = DateTime.UtcNow;
        await VisitService.UpdateAsync(visit);
    }

    private async Task GetPdf(string visitId)
    {
        if (ApplicationContextAccessor.IsOnline())
        {
            var visit = await VisitService.GetByIdAsync(visitId);
            return;
        }

        ToastService.ShowError("A geração do PDF requer uma conexão ativa à internet.");
    }
    
    [JSInvokable]
    public Task SyncCompleted(string message)
    {
        Console.WriteLine($"sync completed: {message}");
        StateHasChanged();
        return Task.CompletedTask;
    }
}