@page "/visits"

@inject IVisitService VisitService
@inject NavigationManager NavigationManager

<PageTitle>Visitas</PageTitle>
<div class="mb-5">
    <div class="btn-group d-flex justify-content-between mb-2" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="recentVisitsButtonId" autocomplete="off" checked>
        <label class="btn btn-outline-secondary" for="recentVisitsButtonId">Recentes</label>
        <input type="radio" class="btn-check" name="btnradio" id="allVisitsButtonId" autocomplete="off">
        <label class="btn btn-outline-secondary" for="allVisitsButtonId">Todas</label>
    </div>
    <div class="d-flex justify-content-end fixed-bottom mb-4 me-3">
        <button class="btn btn-success rounded btn-lg fw-bolder" @onclick="NewVisit">
            Nova Visita
        </button>
    </div>
    @foreach (var visit in _visits)
    {
        <div class="card mb-3 rounded ps-2 pe-2"
             style="border-left: 0.750rem solid indianred;border-right: 0rem;border-top: 0rem;border-bottom: 0rem;">

            <div class="col card-body">
                <div class="row d-flex justify-content-between">
                    <div class="col text-truncate">
                        <div class="row">
                            <div class="text-truncate fw-semibold text-body-tertiary" style="font-size: 0.875em;">@($"{visit.Plant.Name} ({visit.Plant.City} - {visit.Plant.State})")</div>
                            <div class="text-truncate fw-semibold text-muted" style="font-size: 0.750em;">@($"{visit.Association}")</div>
                            <small class="text-muted fw-semibold" style="font-size: 0.700em;">@($"{visit.CreatedAt:dd/MM/yyyy HH:mm:ss}")</small>
                        </div>
                    </div>

                    @* <div class="col d-flex justify-content-end" style="max-width: 40%;"> *@
                    @*     <div class="badge h-50 text-truncate" style="background-color: indianred;">Pendencias: 250</div> *@
                    @* </div> *@

                </div>

                <div class="row d-flex flex-row mt-2">
                    <button type="button" class="btn btn-outline-secondary col btn-sm me-2" @onclick="() => EditVisit(visit.Id)">Editar</button>
                    <button type="button" class="btn btn-outline-secondary col btn-sm" @onclick="() => EditVisit(visit.Id)">Excluir</button>
                </div>
            </div>

        </div>
    }
</div>


@code {
    private List<Visit> _visits = new();

    protected override async Task OnInitializedAsync()
    {
        _visits = await VisitService.GetAllAsync();
    }

    private void NewVisit()
    {
        NavigationManager.NavigateTo("/new-visit");
    }

    private void EditVisit(string visitId)
    {
        NavigationManager.NavigateTo($"/visits/{visitId}/main");
    }

}