@page "/"
@page "/visits"


@inject IVisitService VisitService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<PageTitle>Visitas</PageTitle>
<div class="mb-5">
    <div class="btn-group d-flex justify-content-between mb-2" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="recentVisitsButtonId" autocomplete="off" checked>
        <label class="btn btn-outline-secondary" for="recentVisitsButtonId">Recentes</label>
        <input type="radio" class="btn-check" name="btnradio" id="allVisitsButtonId" autocomplete="off">
        <label class="btn btn-outline-secondary" for="allVisitsButtonId">Todas</label>
    </div>
    <div class="d-flex justify-content-end fixed-bottom mb-4 me-3">
        <button class="btn rounded-pill btn-lg fw-bolder" @onclick="NewVisit" style="background-color: #57504a; color: #ffffff;">
            Nova Visita
        </button>
    </div>
    @foreach (var visit in _visits)
    {
        <div class="card mb-3 rounded ps-2 pe-2"
             style="border-left: 0.750rem solid indianred;border-right: 0rem;border-top: 0rem;border-bottom: 0rem;">

            <div class="col card-body">
                <div class="row">
                    <div class="col text-truncate">
                        <div class="row">
                            <div class="text-truncate fw-semibold text-body-tertiary" style="font-size: 0.875em;">@($"{visit.BasicInformation.Plant.Name} ({visit.BasicInformation.Plant?.Address.City} - {visit.BasicInformation.Plant?.Address.State})")</div>
                            <div class="text-truncate fw-semibold text-muted" style="font-size: 0.750em;">@($"{visit.BasicInformation.Association?.Name} ({visit.BasicInformation.Association?.Address.City} - {visit.BasicInformation.Association?.Address.State})")</div>
                            <small class="text-muted fw-semibold" style="font-size: 0.700em;">@($"{visit.BasicInformation.CreatedAt:dd/MM/yyyy HH:mm:ss}")</small>
                        </div>
                    </div>

                    @* <div class="col d-flex justify-content-end" style="max-width: 40%;"> *@
                    @*     <div class="badge h-50 text-truncate" style="background-color: indianred;">Pendencias: 250</div> *@
                    @* </div> *@

                </div>

                <div class="mt-2 d-flex flex-row p-0">
                    <button class="btn card" type="button" @onclick="() => EditVisit(visit.Id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square text-secondary" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"></path>
                        </svg>
                    </button>
                    <button class="btn card ms-2" type="button" @onclick="() => DeleteVisitAsync(visit.Id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash text-secondary" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </button>
                    <button class="btn card ms-2" type="button" @onclick="() => AddImage(visit.Id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-image text-secondary" viewBox="0 0 16 16">
                            <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                            <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                    </button>

                    <button class="btn card ms-2" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf" viewBox="0 0 16 16">
                          <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
                          <path d="M4.603 14.087a.8.8 0 0 1-.438-.42c-.195-.388-.13-.776.08-1.102.198-.307.526-.568.897-.787a7.7 7.7 0 0 1 1.482-.645 20 20 0 0 0 1.062-2.227 7.3 7.3 0 0 1-.43-1.295c-.086-.4-.119-.796-.046-1.136.075-.354.274-.672.65-.823.192-.077.4-.12.602-.077a.7.7 0 0 1 .477.365c.088.164.12.356.127.538.007.188-.012.396-.047.614-.084.51-.27 1.134-.52 1.794a11 11 0 0 0 .98 1.686 5.8 5.8 0 0 1 1.334.05c.364.066.734.195.96.465.12.144.193.32.2.518.007.192-.047.382-.138.563a1.04 1.04 0 0 1-.354.416.86.86 0 0 1-.51.138c-.331-.014-.654-.196-.933-.417a5.7 5.7 0 0 1-.911-.95 11.7 11.7 0 0 0-1.997.406 11.3 11.3 0 0 1-1.02 1.51c-.292.35-.609.656-.927.787a.8.8 0 0 1-.58.029m1.379-1.901q-.25.115-.459.238c-.328.194-.541.383-.647.547-.094.145-.096.25-.04.361q.016.032.026.044l.035-.012c.137-.056.355-.235.635-.572a8 8 0 0 0 .45-.606m1.64-1.33a13 13 0 0 1 1.01-.193 12 12 0 0 1-.51-.858 21 21 0 0 1-.5 1.05zm2.446.45q.226.245.435.41c.24.19.407.253.498.256a.1.1 0 0 0 .07-.015.3.3 0 0 0 .094-.125.44.44 0 0 0 .059-.2.1.1 0 0 0-.026-.063c-.052-.062-.2-.152-.518-.209a4 4 0 0 0-.612-.053zM8.078 7.8a7 7 0 0 0 .2-.828q.046-.282.038-.465a.6.6 0 0 0-.032-.198.5.5 0 0 0-.145.04c-.087.035-.158.106-.196.283-.04.192-.03.469.046.822q.036.167.09.346z"/>
                        </svg>
                    </button>
                </div>
            </div>

        </div>
    }
</div>


@code {
    private List<Visit> _visits = [];

    protected override async Task OnInitializedAsync()
    {
        _visits = await VisitService.GetAllAsync();
    }

    private void NewVisit()
    {
        NavigationManager.NavigateTo("/new-visit");
    }

    private void EditVisit(string visitId)
    {
        NavigationManager.NavigateTo($"/visits/{visitId}/main");
    }

    private async Task DeleteVisitAsync(string visitId)
    {
        var confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Remover visita ?");
        if (!confirmed) return;

        await VisitService.DeleteAsync(visitId);
        NavigationManager.Refresh(true);
    }

    private void AddImage(string visitId)
    {
        NavigationManager.NavigateTo($"/visits/{visitId}/images");
    }
}