@page "/pdf"

@inject IVisitService VisitService
@inject IApiService ApiService
@inject IJSRuntime JsRuntime

<h3>PDF Viewer</h3>
<button @onclick="SalvarPdf">Salvar PDF</button>
<div id="pdfViewer"></div>




@code {

    private string PdfContent { get; set; } = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("loadPdfFromBase64", await GetPdf("66f396f2-9b07-4e30-8901-d9a0b20a7ff0"), "pdfViewer");
        }
    }

    private async Task<string> GetPdf(string visitId)
    {
        var visit = await VisitService.GetByIdAsync(visitId);

        var bytes = await ApiService.GenerateVisitPdf(visit.Id);
        return Convert.ToBase64String(bytes);
        //return $"data:application/pdf;base64,{pdf}";
        //StateHasChanged();
    }
    
    private async Task SalvarPdf()
    {
        await JsRuntime.InvokeVoidAsync("savePdfFromBase64", await GetPdf("66f396f2-9b07-4e30-8901-d9a0b20a7ff0"));
    }

}