.settings-button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.settings-button:hover {
    background-color: #f8f9fa;
}

.settings-button .bi {
    font-size: 24px;
    margin-right: 15px;
    color: #666; 
}

.setting-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.setting-name {
    font-size: 12px;
    font-weight: bold;
    color: #666;
}

.setting-description {
    font-size: 10px;
    color: #999;
}


