<div class="image-selector-container">
    @if (_images.Any())
    {
        <Virtualize Items="_images">
            <ItemContent>
                <ImageCard
                    ImageSrc="@($"data:image/png;base64,{Convert.ToBase64String(context.Data)}")"
                    ImageName="@context.Name"
                    Description="@context.Description"
                    OnDelete="OnDeleteButtonClickHandler"
                    OnDescriptionChange="OnDescriptionChangeHandler">
                </ImageCard>
            </ItemContent>
        </Virtualize>
    }

    <div class="image-selector-buttons-container">
        <div class="image-selector-buttons-left">
            <label class="image-selector-buttons-left-text" for="fileInput">Selecionar Imagens</label>
            <InputFile class="input-file" id="fileInput" OnChange="@OnChangeHandler" multiple style="display: none;"></InputFile>
        </div>

        <div class="image-selector-buttons-right">
            <LoadingButton OnClick="OnSaveHandlerAsync" Title="Salvar" IsLoading="IsProcessing"></LoadingButton>
        </div>
    </div>
</div>