<div class="visit-page-selector">
    <InputSelect @bind-Value="_selectedPageName" class="form-select custom-select" @bind-Value:after="OnPageChangeHandler">
        @foreach (var visitPage in Pages)
        {
            <option value="@visitPage.Name" selected="@(visitPage.Name.Equals(InitialPage) ? "selected" : null)">
                @($"{visitPage.DisplayName} ({visitPage.TotalItems - visitPage.PendingItems} de {visitPage.TotalItems})")
            </option>
        }
    </InputSelect>
</div>


