@page "/scroll"
<PageTitle>Scroll</PageTitle>

<div id="myDiv" class="container">
    <div class="content">
        <Virtualize Items="Visits">
            <ItemContent>
                <VisitCard Visit="@context"></VisitCard>
            </ItemContent>
        </Virtualize>
    </div>
</div>