@page "/utils"
@using FiscalLabApp.Services

@inject IndexedDbAccessor IndexedDbAccessor

<PageTitle>Utilitários</PageTitle>

<h1>Utilitários</h1>

<div class="col-auto">
    <button type="button" class="btn btn-danger mb-3" @onclick=DeleteDatabaseAsync>Deletar Banco</button>
</div>

@code {
    private async Task DeleteDatabaseAsync()
    {
        await IndexedDbAccessor.DeleteDatabaseAsync();
    }
}