@page "/visit-2"
@layout EditVisitLayout

@inject IMenuService MenuService

<div class="row">
    <div class="col">
        <div class="form-floating mb-3">
            <input class="form-control" id="createdAtDateInput" type="date" />
            <label for="createdAtDateInput">Data</label>
        </div >

    </div>
    <div class="col">
        <div class="form-floating mb-3">
            <input class="form-control" id="createdAtTimeInput" type="time"/>
            <label for="createdAtTimeInput">Hora</label>
        </div >
    </div>
</div>

@code {

    private Menu[] _menus = Array.Empty<Menu>();

    protected override async Task OnInitializedAsync()
    {
        _menus = await MenuService.GetAllAsync();
    }

}