<div class="card mb-3">
    <div class="card-header">@Title</div>
    <div class="card-body">
        @ChildContent
    </div>
</div>

@code
{
    [Parameter]
    public string Title { get; set; } = string.Empty;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
