@using Blazored.Toast.Configuration
@using FiscalLabApp.Helpers
@using PdfSharp.Fonts
@inherits LayoutComponentBase

<CascadingValue Value="this">
    <NavMenu/>
    <main class="container" style="background-color: #f9f9f9;">
        <VisitPageSelector/>
        @Body
    </main>
</CascadingValue>

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"/>

@code
{
    public string SelectedVisitId { get; set; } = string.Empty;
    
    protected override void OnInitialized()
    {
        GlobalFontSettings.FontResolver = new FontResolver();
        base.OnInitialized();
    }
}