@using Blazored.Toast.Configuration
@using Mapster
@inherits LayoutComponentBase
@inject IVisitService VisitService

<CascadingValue Value="this">
    <NavMenu/>
    <main class="container" style="background-color: #f5f4f2;">
        <VisitPageSelector Pages="@_pages"/>
        @Body
    </main>
</CascadingValue>

<BlazoredToasts Position="ToastPosition.TopRight" Timeout="5"/>

@code
{
    public string SelectedVisitId { get; set; } = string.Empty;
    private VisitViewModel _selectedVisitViewModel = new();
    private Visit _selectedVisit = new();
    private VisitPage[] _pages = Array.Empty<VisitPage>();
    
    public async Task SetSelectedVisitId(string selectedVisitId)
    {
        SelectedVisitId = selectedVisitId;
        _selectedVisit = await VisitService.GetByIdAsync(selectedVisitId);
        _selectedVisitViewModel = _selectedVisit.Adapt<VisitViewModel>();
        var metadata = _selectedVisitViewModel.GetMetadata();
        _pages = metadata.Pages.OrderBy(v => v.Id).ToArray();
        StateHasChanged();
    }

    public Visit GetSelectedVisit()
    {
        return _selectedVisit;
    }
    
    public VisitViewModel GetSelectedVisitViewModel()
    {
        return _selectedVisitViewModel;
    }
    
    public Task UpdateVisitAsync()
    {
        return VisitService.UpdateAsync(_selectedVisit);
    }
}