@inherits LayoutComponentBase

<CascadingValue Value="this">
    <NavMenu/>
    <main class="container" style="background-color: #f9f9f9;">
        <VisitPageSelector/>
        @Body
    </main>
</CascadingValue>

@code
{
    public string SelectedVisitId { get; set; } = string.Empty;
}