@inherits LayoutComponentBase

@inject IVisitService VisitService

<CascadingValue Value="this">
    <NavMenu/>
    <main class="container" style="background-color: #f9f9f9;">
        <VisitPageSelector/>
        @Body
    </main>
</CascadingValue>

@code
{
    public Visit SelectedVisit { get; set; } = new();

    public void SaveChanges()
    {
        if (string.IsNullOrWhiteSpace(SelectedVisit.Id)) return;
        VisitService.UpdateAsync(SelectedVisit);
    }
}