@using Blazored.Toast.Configuration
@using FiscalLabApp.Components.Pages.VisitComponents
@inherits LayoutComponentBase

<CascadingValue Value="this">
    <NavMenu/>
    <main class="content px-4" style="background-color: #f5f4f2;">
        <VisitPageSelector Pages="@_pages"/>
        <span class="@GetDisabledCssClass()">
            @Body
        </span>
    </main>
</CascadingValue>

<BlazoredToasts Position="ToastPosition.TopRight" Timeout="5"/>