@inherits LayoutComponentBase

@inject IVisitService VisitService

<CascadingValue Value="this">
    <NavMenu/>
    <VisitPageSelector/>
    <main class="container" style="background-color: #f9f9f9;">
        @Body
    </main>
</CascadingValue>

@code
{
    public Visit? SelectedVisit { get; set; }

    public void SaveChanges()
    {
        if (SelectedVisit is null)
            return;
        VisitService.UpdateAsync(SelectedVisit);
    }
}