@using Blazored.Toast.Configuration
@using FiscalLabApp.Services
@using System.Globalization
@inherits LayoutComponentBase
<NavMenu/>

@inject IJSRuntime JsRuntime
@inject SyncService SyncService

<main class="container">
    @Body
</main>

<BlazoredToasts Position="ToastPosition.TopRight" Timeout="10" ShowCloseButton="true" ShowProgressBar="true"/>
