@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (_authenticationState?.User.Identity is { IsAuthenticated: false })
{
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
}
else
{
    <NavMenu/>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <BlazoredToasts Position="ToastPosition.BottomCenter" Timeout="3" ShowCloseButton="true" ShowProgressBar="true" />
}


@code {
    private AuthenticationState? _authenticationState;

    protected override async Task OnInitializedAsync()
    {
        _authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }

}