@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
<NavMenu/>

<main class="container">
    @Body
</main>

<BlazoredToasts Position="ToastPosition.TopRight" Timeout="10" ShowCloseButton="true" ShowProgressBar="true"/>
