@using Blazored.Toast.Configuration
@using FiscalLabApp.Helpers
@using PdfSharp.Fonts
@inherits LayoutComponentBase
<NavMenu/>

<main class="container">
    @Body
</main>

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="5"/>

@code
{
    protected override void OnInitialized()
    {
        GlobalFontSettings.FontResolver = new FontResolver();
        base.OnInitialized();
    }
}