@using System.Text.Json
@using FiscalLabApp.Services
@using FiscalLabApp.Enums
@inject NavigationManager NavigationManager
@inject ApplicationContextAccessor ApplicationContextAccessor
@inject IJSRuntime JsRuntime

@inject SyncService SyncService
@inject IToastService ToastService
@inject SyncEventNotifier SyncEventNotifier
@inject NetworkStatusEventNotifier NetworkStatusEventNotifier

<nav class="navbar shadow" style="background-color: #ffffff;">
    <div class="container-fluid">
        <a class="navbar-brand text-secondary fw-bold" @onclick="OpenVisits">
            <img src="icon-192.png" alt="Fiscal Lab" width="48" height="48">
            Grupo Esdra - v1.1.9
        </a>
    </div>
    
</nav>

@code {

    private bool _collapseNavMenu = true;
    private string? NavBarCssClass => _collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => _collapseNavMenu ? "collapsed" : null;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var dotNetObjRef = DotNetObjectReference.Create(this);
            await JsRuntime.InvokeVoidAsync("jsFunctions.registerOnlineStatusHandler", dotNetObjRef);
        }
    }

    private void OpenVisits()
    {
        NavigationManager.NavigateTo("/visits");
    }
    
    [JSInvokable]
    public Task SetOnlineStatus(bool isOnline, bool isWiFi)
    {
        var status = isOnline ? NetworkStatus.Online : NetworkStatus.Offline;
        ApplicationContextAccessor.NetworkStatus = status;
        NetworkStatusEventNotifier.Notify(status);
        StateHasChanged();
        return Task.CompletedTask;
    }

}