@inject NavigationManager NavigationManager

<nav class="navbar shadow-sm mb-4" style="background-color: #f9f9f9;">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand text-secondary fw-bold" href="visits">
                <img src="icon-192.png" alt="Fiscal Lab" width="48" height="48">
                Grupo Esdra
            </a>
        </div>
    </div>
</nav>

@code {
    private bool _collapseNavMenu = true;
    private string? NavBarCssClass => _collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => _collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}