@using FiscalLabApp.Services
@using FiscalLabApp.Enums
@inject NavigationManager NavigationManager
@inject ApplicationContextAccessor ApplicationContextAccessor
@inject IJSRuntime JsRuntime

@inject SyncService SyncService
<nav class="navbar shadow mb-4" style="background-color: #ffffff;">
    <div class="container-fluid">
        <a class="navbar-brand text-secondary fw-bold" @onclick="OpenVisits">
            <img src="icon-192.png" alt="Fiscal Lab" width="48" height="48">
            Grupo Esdra
        </a>
        <form class="d-flex" role="search">
            <button class="btn btn-sm btn-outline-success" type="button" @onclick="SynAsync" disabled="@(!ApplicationContextAccessor.IsOnline())">Sincronizar</button>
        </form>
    </div>
</nav>

@code {
    
    private bool _collapseNavMenu = true;
    private string? NavBarCssClass => _collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => _collapseNavMenu ? "collapsed" : null;

    private void OpenVisits()
    {
        NavigationManager.NavigateTo("/visits");
    }


    private async Task SynAsync()
    {
        Console.WriteLine("chamando sync...");
        await SyncService.SyncAsync();
    }

}