@using FiscalLabApp.Services
@using FiscalLabApp.Enums
@inject NavigationManager NavigationManager
@inject ApplicationContextAccessor ApplicationContextAccessor
@inject IJSRuntime JsRuntime

@inject IToastService ToastService
@inject NetworkStatusEventNotifier NetworkStatusEventNotifier

<nav class="navbar shadow" style="background-color: #ffffff;">
    <div class="container-fluid">
        <a class="navbar-brand text-secondary fw-bold" @onclick="OpenVisits">
            <img src="icon-192.png" alt="Fiscal Lab" width="48" height="48">
            Grupo Esdra - v1.1.9
        </a>
        
        <button type="button" class="btn btn-link text-secondary">
            <i class="bi bi-gear" @onclick="OpenSettings"></i>
        </button>
    </div>
</nav>


@code {

    private bool _collapseNavMenu = true;
    private string? NavBarCssClass => _collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => _collapseNavMenu ? "collapsed" : null;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var dotNetObjRef = DotNetObjectReference.Create(this);
            await JsRuntime.InvokeVoidAsync("jsFunctions.registerOnlineStatusHandler", dotNetObjRef);
        }
    }

    private void OpenVisits()
    {
        NavigationManager.NavigateTo("/visits");
    }
    
    private async Task OpenSettings()
    {
        NavigationManager.NavigateTo("/settings");
        await JsRuntime.InvokeVoidAsync("removeFocusFromAllElements");
    }
    
    [JSInvokable]
    public Task SetOnlineStatus(bool isOnline, bool isWiFi)
    {
        var status = isOnline ? NetworkStatus.Online : NetworkStatus.Offline;
        ApplicationContextAccessor.NetworkStatus = status;
        NetworkStatusEventNotifier.Notify(status);
        StateHasChanged();
        return Task.CompletedTask;
    }

}