@using System.Text.Json
@using FiscalLabApp.Extensions
@using FiscalLabApp.Services
@using Mapster
@inject HttpClient HttpClient;
@inject NavigationManager NavigationManager
@inject IVisitService VisitService
@inject IVisitPageService VisitPageService

<div class="content">
    <InputSelect @bind-Value="_selectedPageName" class="form-select mb-3" aria-label="Large select example" @bind-Value:after="CallVisitPage">
        @foreach (var visitPage in Pages)
        {
            <option value="@visitPage.Name" checked="@(visitPage.Name.Equals(NavigationManager.GetCurrentVisitPage()))">
                @($"{visitPage.DisplayName} ({visitPage.TotalItems - visitPage.PendingItems} de {visitPage.TotalItems})")
            </option>
        }
    </InputSelect>
</div>

@code
{
    [CascadingParameter] public EditVisitLayout Layout { get; set; } = new();

    [Parameter] public VisitPage[] Pages { get; set; } = Array.Empty<VisitPage>();

    private VisitViewModel _selectedVisit = new();
    private string _selectedPageName = string.Empty;

    [Parameter] public EventCallback<decimal> ValueUpdated { get; set; }

    private void CallVisitPage()
    {
        NavigationManager.NavigateTo($"visits/{_selectedPageName}");
    }
}