@using System.Text.Json
@using FiscalLabApp.Extensions
@using FiscalLabApp.Services
@inject HttpClient HttpClient;
@inject NavigationManager NavigationManager
@inject IVisitService VisitService
@inject IVisitPageService VisitPageService

<div class="content">
    <select class="form-select form-select-lg mb-3" aria-label="Large select example" @onchange="CallVisitPage">
        @foreach (var visitPage in _visitPages)
        {
            <option value="@visitPage.Name" selected="@(visitPage.Name.Equals(NavigationManager.GetCurrentVisitPage()))">@visitPage.DisplayName</option>
        }
    </select>
</div>

@code
{
    [CascadingParameter]
    public EditVisitLayout Layout { get; set; } = new();
    
    private IReadOnlyList<VisitPage> _visitPages = new List<VisitPage>();
    protected override async Task OnInitializedAsync()
    {
        var visitPages = await VisitPageService.GetAllAsync();
        _visitPages = visitPages.OrderBy(v => v.Id).ToList();
        StateHasChanged();
    }

    private void CallVisitPage(ChangeEventArgs e)
    {
        var route = e.Value?.ToString();
        if (route is null) return;
        
        NavigationManager.NavigateTo($"visits/{Layout.SelectedVisitId}/{route}");
    }
}
