@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<NavMenu />

<button type="button" class="btn btn-success bg-opacity-75" @onclick="NewVisit">Nova Visita</button>
<main class="container" style="background-color: #f9f9f9;">
    @Body
</main>

@code {
    private void NewVisit()
    {
        NavigationManager.NavigateTo("/new-visit");
    }
}