@inject HttpClient HttpClient;
@inject NavigationManager NavigationManager
@inject IVisitService VisitService

<div class="content">
    <select class="form-select form-select-lg mb-3" aria-label="Large select example" @onchange="CallVisitPage">
        @foreach (var visitPage in _visitPages)
        {
            <option value="@visitPage.Route">@visitPage.Description</option>
        }
    </select>
</div>

@code
{
    [CascadingParameter]
    public EditVisitLayout EditVisitLayout { get; set; } = new();
    
    private IReadOnlyList<VisitPage> _visitPages = new List<VisitPage>();
    protected override async Task OnInitializedAsync()
    {
        var pages = await HttpClient.GetFromJsonAsync<VisitPage[]>("/sample-data/visit-pages.json");
        if (pages is not null) _visitPages = pages;
    }

    private async Task CallVisitPage(ChangeEventArgs e)
    {
        var visit = EditVisitLayout.SelectedVisit;
        EditVisitLayout.SelectedVisit = await VisitService.UpdateAsync(visit);
        
        var route = e.Value?.ToString();
        if (route is null) return;
        
        NavigationManager.NavigateTo($"{route}");
    }
}
