@using System.Text.Json
@using FiscalLabApp.Extensions
@inject HttpClient HttpClient;
@inject NavigationManager NavigationManager
@inject IVisitService VisitService

<div class="content">
    <select class="form-select form-select-lg mb-3" aria-label="Large select example" @onchange="CallVisitPage">
        @foreach (var visitPage in _visitPages)
        {
            <option value="@visitPage.Page" selected="@(visitPage.Page.Equals(NavigationManager.GetCurrentVisitPage()))">@visitPage.Description</option>
        }
    </select>
</div>

@code
{
    [CascadingParameter]
    public EditVisitLayout Layout { get; set; } = new();
    
    private IReadOnlyList<VisitPage> _visitPages = new List<VisitPage>();
    protected override async Task OnInitializedAsync()
    {
        var pages = await HttpClient.GetFromJsonAsync<VisitPage[]>("/sample-data/visit-pages.json");
        if (pages is not null) _visitPages = pages;
        
        Console.WriteLine(JsonSerializer.Serialize(NavigationManager.Uri));
    }

    private void CallVisitPage(ChangeEventArgs e)
    {
        var route = e.Value?.ToString();
        if (route is null) return;
        
        NavigationManager.NavigateTo($"visits/{Layout.SelectedVisitId}/{route}");
    }
}
